@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,700;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jomolhari&family=Krona+One&family=Montserrat:ital,wght@0,700;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('./src/style/biblioteca.css');
@import url('./src/style/calcsono.css');
@import url('./src/style/desendigital.css');
@import url('./src/style/higienesono.css');
@import url('./src/style/maonamassa.css');
@import url('./src/style/terrapiarelaxamento.css');

:root {
    --cor-cabecape: #05080F;
    --cor-clara-fontes: #FFFFFF;
    --cor-textdestaque: #9CCDDB;
    --cor-backprinc: #0F1318;
    --cor-backsecundaria: #2F394A;
    --cor-botoesfundo: #064469;
    --cor-botoes: #072d44;
    --cor-textdestcadoequipe: #666666;

    --fonte-primaria: "Inter", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

.cabecalho {
    background-color: var(--cor-cabecape);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    padding: 0.5em 0 0 0;
}

.cabecalho__links__texto {
    background-color: var(--cor-cabecape);
    padding: 1em 2em;
    border-radius: 0  0  1rem 1rem;
    display: block;
    position: absolute;
    top: 100%;
}

.cabecalho__links__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    color: var(--cor-textdestcadoequipe);
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__links__texto:hover {
    color: var(--cor-backsecundaria);
}

.corpo {
    display: flex;
    flex-direction: column;
}

.corpo__principais {
    background-color: var(--cor-backprinc);
    display: flex;
    flex-direction: column;
    gap: 12.5rem;
    align-items: center;
}

.corpo__principais__textoprincipal {
    text-align: center;
    margin: 6.25rem 0 0 0;
}

.corpo__principais__destaque {
    color: var(--cor-textdestaque);
}

.corpo__principais__textoprincipal__titulo {
    font-size: 6.25rem;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    color: var(--cor-clara-fontes);
}

.corpo__principais__botoes {
    display: flex;
    background-color: var(--cor-botoesfundo);
    border-radius: 1.87rem;
    padding: 3.75rem;
    gap: 4.43rem;
}

.corpo__principais__botoes__ancora {
    display: flex;
    align-items: center;
    gap: 1.31rem;
    background-color: var(--cor-botoes);
    border-radius: 1.25rem;
    width: 47.62rem;
    height: 15.93rem;
    padding: 0 1.25rem 0 1.25rem;
}

.corpo__principais__botoes__ancora__2 {
    text-decoration: none;
}

.corpo__principais__botoes__ancora__div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: var(--cor-clara-fontes);
}

.corpo__principais__botoes__ancora__div__text {
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 2rem;
}

.corpo__principais__botoes__ancora__div__paragrafo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.corpo__principais__botoes__section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.nossa-equipe {
    background-color: var(--cor-backsecundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nossa-equipe__imagem {
    width: 100%;
}

.nossa-equipe__equipe {
    display: flex;
    flex-direction: column;
}

.nossa-equipe__equipe__titulo {
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 6rem;
    color: var(--cor-clara-fontes);
}

.nossa-equipe__parte-baixo1 {
    margin: 10rem 0 0 0;
    display: flex;
    align-items: center;
    gap: 1.87rem;
}

.nossa-equipe__parte-baixo__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--cor-clara-fontes);
}

.nossa-equipe__parte-baixo__paragrafo {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--cor-clara-fontes);
}

.nossa-equipe__parte-baixo1__imagem {
    width: 11rem;
    border-radius: 20%;
}

.nossa-equipe__parte-baixo2 {
    margin: 6.25rem 0;
    display: flex;
    align-items: center;
    gap: 4.12rem;
}

.nossa-equipe__parte-baixo2__in {
    display: flex;
    align-items: center;
    gap: 1.87rem;
}

.nossa-equipe__parte-baixo2__imagem {
    width: 8.68rem;
}

.nossa-equipe__parte-baixo3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8.12rem;
}

.nossa-equipe__frase {
    margin: 10.62rem 0;
}

.nossa-equipe__frase__titulo {
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: var(--cor-textdestcadoequipe);
}

.rodape {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--cor-cabecape);
    padding: 5em 3em;
}

.rodape__texto {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2.3rem;
    color: var(--cor-clara-fontes);
}

.rodape__textos2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--cor-clara-fontes);
}

.rodape__logoinstagram {
    width: 2rem;
    padding: 0.5rem;
}

.rodape__logoinstagram:hover {
    background-color: #1d1e1f;
}

.rodape__faixasapp {
    width: 15rem;
}

.rodape__section {
    display: flex;
    gap: 1em;
}

@media screen and (max-width: 1889px) {
    .corpo__principais__botoes__ancora {
        width: 37rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 8rem;
    }
}

@media screen and (max-width: 1440px) {
    .corpo__principais__botoes__ancora {
        width: 33rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 1280px) {
    * {
        font-size: 12px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .corpo__principais__botoes__ancora {
        width: 42rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
}

@media screen and (max-width: 1024px) {
    .corpo__principais__botoes__ancora {
        width: 33rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 834px) {
    * {
        font-size: 7px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 42rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: 7px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 42rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
}


@media screen and (max-width: 688px) {
    * {
        font-size: 6px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 37rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
}

@media screen and (max-width: 600px) {
    * {
        font-size: 4.5px;
    }
    .corpo__principais__destaque {
        font-size: 7rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 46rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 20rem;
    }
}

@media screen and (max-width: 412px) {
    * {
        font-size: 6px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 42rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
    .corpo__principais__botoes {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo2 {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo3 {
        flex-direction: column;
    }
    .nossa-equipe__frase__titulo {
        font-size: 20px;
    }
}

@media screen and (max-width: 415px) {
    * {
        font-size: 6px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 42rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
    .corpo__principais__botoes {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo2 {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo3 {
        flex-direction: column;
    }
    .nossa-equipe__frase__titulo {
        font-size: 20px;
    }
}

@media screen and (max-width: 393px) {
    * {
        font-size: 6px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 42rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
    .corpo__principais__botoes {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo2 {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo3 {
        flex-direction: column;
    }
    .nossa-equipe__frase__titulo {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    * {
        font-size: 5px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 42rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
    .corpo__principais__botoes {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo2 {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo3 {
        flex-direction: column;
    }
    .nossa-equipe__frase__titulo {
        font-size: 15px;
    }
}

@media screen and (max-width: 240px) {
    * {
        font-size: 4px;
    }
    .corpo__principais__destaque {
        font-size: 6rem;
    }
    .imagem {
        width: 14rem;
    }
    .imagem-cabecalho {
        width: 7rem;
    }
    .corpo__principais__botoes__ancora {
        width: 42rem;
    }
    .nossa-equipe__parte-baixo2, .nossa-equipe__parte-baixo3{
        padding: 1rem 13rem;
    }
    .corpo__principais__botoes {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo2 {
        flex-direction: column;
    }
    .nossa-equipe__parte-baixo3 {
        flex-direction: column;
    }
    .nossa-equipe__frase__titulo {
        font-size: 12px;
    }
}