.main__terrapiarelaxamento {
    background-color: var(--cor-backprinc);
    height: 100vh;
    padding: 200px 0;
}

.main__terrapiarelaxamento__a__imagem {
    width: 200px;
}

.main__terrapiarelaxamento__div {
    display: flex;
    justify-content: center;
}

.main__terrapiarelaxamento__div__section {
    display: flex;
    gap: 2em;
    background-color: var(--cor-botoes);
    border-radius: 2em;
    padding: 1em 2em;
    text-decoration: none;
}

.main__terrapiarelaxamento__div__section__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}

.imagem__estrela {
    width: 20px;
}

.section__estrela {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}

.fontes__corpo {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-clara-fontes);
}

.fonte__titulo {
    font-size: 20px;
    font-weight: 800;
}

.main__terrapiarelaxamento__div__section__ {
    display: flex;
    margin: 4em 0;
    justify-content: center;
}