.main__terrapiarelaxamento {
    margin: 4.7rem 0 0 0;
    height: 100vh;
    background-color: var(--cor-backprinc);
}

.main__terrapiarelaxamento {
    display: flex;
    justify-content: center;
}

.quadrado__terrapeutas {
    margin: 90px 0;
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--cor-botoesfundo);
}

.quadrado__terrapeutas__imagem {
    width: 50px;
    height: 50px;
}