.home__body {
    background-color: #A1A1A1;
}

.home__cabecalho {
    height: 4.375rem;
    display: flex;
    justify-content:space-between;
    padding: 0 3rem;
    align-items: center;
    background-color: #353535;
    position: fixed;
    top: 0;
    width: 100%;
}

.home__cabecalho__class {
    display: flex;
    gap: 1rem;
}

.home__cabecalho__text {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #D0D0D0;
}

.home__cabecalho__sair {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #CC2217;
}

.home__main__ds {
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin: 120px 50px;
}

.home__main__dr {
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin: 120px 50px;
}

.home__main {
    display: flex;
    justify-content: center;
}

.home__main__div {
    display: flex;
    align-items: center;
    background-color: #D0D0D0;
    gap: 21px;
    width: 762px;
    height: 255px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0px #000000;
}

.home__main__div:hover {
    background-color: #afafaf;
}

.home__main__div__div {
    display: flex;
    flex-direction: column;
    width: 456px;
    margin: 50px 0;
    gap: 23PX;
    text-decoration: none;
}

.home__ancora {
    text-decoration: none;
}

.home__main__div__imagem {
    border-radius: 10px;
    width: 216px;
    margin: 0 0 0 20px;
}

.home__main__div__imagem2 {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.home__main__div__div__titulo {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.home__main__div__div__paragrafo {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.home__rodape {
    height: 4.375rem;
    color: #FFFFFF;
    background-color: #353535;
    padding: 0 58px;
    display: flex;
    align-items: center;
    margin: 59px 0 0;
}

.home__rodape__text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.abanana {
    display: flex;
    flex-direction: row;
}

.grupo-aba {
    display: flex;
    align-items: center;
    gap: 27px;

}

.grupo-aba__1 {
    width: 479px;
    height: 897px;
    background-color: #D0D0D0;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0px #000000;
}


.grupo-aba__2 {
    width: 642px;
    height: 283px;
    background-color: #D0D0D0;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0px #000000;
}

.grupo-aba__section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.grupo-aba__1__section {
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 25px;
}

.imagem__abba{
    width: 402px;
    border-radius: 20px;
}

.grupo-aba__1__section__div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grupo-aba__1__section__div__text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.grupo-aba__1__section__div__paragrafo {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.grupo-aba__1__section__div__paragrafo2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.grupo-aba__2__class {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    text-decoration: none;
}

.grupo-aba__2__class2 {
    display: flex;
    align-items: center;
}

.grupo-aba__2 {
    display: flex;
    align-content: center;
}

.imagem__abba__2 {
    margin: 0 0 0 15px;
    border-radius: 20px;
    width: 235px;
}

.grupo-aba__2__class__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grupo-aba__2__section__div__text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.grupo-aba__2__section__div__paragrafo {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.grupo-aba__2__section__div__paragrafo2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.classe__link {
    text-decoration: none;
    color: #000000;
}